@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(361deg);
  }
}

.animate-spin {
  animation-name: spin;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
