<img src="buttons/dontfeedai.gif" loading="lazy">
<img src="buttons/antinft.png" loading="lazy">
<img src="buttons/bookmark.gif" loading="lazy">
<a href="http://www.anybrowser.org/campaign/">
    <img src="buttons/eyes.gif" loading="lazy">
</a>
<a href="https://lu.tiny-universes.net/graphix.html">
    <img src="buttons/myownwebsite.gif" loading="lazy">
</a>

<br />
<a href="https://www.deviantart.com/kazria-kitty/art/good-question-202888324">
    <img src="buttons/fave.gif">
</a>
<a href="https://raining-starss.neocities.org/stampcollection">
    <img src="buttons/eva.gif" loading="lazy">
</a>

<br />
<center>
    <a href="https://www.deathcult.fun/">
        <img src="buttons/idcflogo.png" loading="lazy">
        <br> Join The Cult </a>
</center>